.add-products {
  @media (min-width: $desktop-width) {
    margin-top: -91px;
  }
}

.add-products__wrapper {
  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
    display: flex;
  }
}

.add-products__list {
  @media (min-width: $tablet-width) {
    padding-top: 43px;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: auto;

    width: 896px;
  }
}

.add-products__item {
  border-bottom: $border-count;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 38px;
    padding-bottom: 27px;

    border: $border-grey;
    border-bottom: none;

    &:last-child {
      border-bottom: $border-grey;
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: stretch;

    border-left: none;
    border-right: none;

    padding: 0;

    &:last-child {
      padding-bottom: 5px;
    }
  }
}

.add-products__name {
  margin: 13px 0;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $dark-grey2;

  @media (min-width: $tablet-width) {
    margin-top: 25px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 81px;

    padding-bottom: 13px;

    width: $cart-width;
  }
}

.add-products__title {
  margin-right: 0;
  margin-top: 25px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.add-products__size,
.add-products__price {
  font-family: $arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    padding-top: 32px;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 144px;

    padding-top: 20px;
  }
}

.add-products__price {
  @media (min-width: $desktop-width) {
    text-align: right;
  }
}

.add-products__link {
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: $cart-width;
    height: 40px;

    margin-left: auto;
    margin-top: 15px;
  }
}

.add-products__price-block {
  display: flex;

  @media (min-width: $desktop-width) {
    margin-right: 30px;

    padding-top: 11px;
  }
}
