.add-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.add-products__list {
  @media (min-width: $desktop-width) {
    width: 895px;
    margin-right: 80px;
  }
}

.add-products__item {
  @media (min-width: $tablet-width) {
    padding: 0 38px;
    padding-bottom: 20px;
    border: $border-grey;
    border-bottom: none;

    &:last-child {
      border-bottom: $border-grey;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    border-left: none;
    border-right: none;
    padding: 0 10px 10px 10px;
  }
}

.add-products__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $dark-grey2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: $cart-width;
  }
}

.add-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.add-products__size,
.add-products__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.add-products__size {
  @media (min-width: $desktop-width) {
    width: $cart-width;
  }
}

.add-products__price {
  @media (min-width: $desktop-width) {
    width: 50px;
  }
}

.add-products__link {
  @media (min-width: $tablet-width) {
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: $cart-width;
    height: 40px;
    margin-top: 15px;
    margin-left: auto;
  }
}
