.address {
  background-color: $basic-white;
}

.address__wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    max-height: 201px;
  }
}

.address__text {
  min-width: 140px;
  padding-right: 8px;
  padding-top: 16px;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.address__info-wrapper {
  padding-top: 28px;
  padding-bottom: 26px;

  font-family: $arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $dark-grey;
}
