.adress {
  background-color: $basic-grey;
}

.adress__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.adress__info-wrapper {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
