.catalogs {
  margin-top: 22px;
}

.catalogs__list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.catalogs__item {
  position: relative;

  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;

  background-color: $light-white;

  &::before,
  &::after {
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 20px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: $basic-green;
  }

  &::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 10px;

    width: 67px;
    height: 50px;

    background-position: center;

    z-index: 4;
  }

  &--slim {
    &::before {
      background-image: url("../img/black-cat-slim.svg");
    }
  }

  &--pro {
    &::before {
      top: 25px;

      background-image: url("../img/black-cat-pro.svg");
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 77px 279px 52px 57px;

    &::after {
      left: 450px;
      top: 85px;

      width: 200px;
      height: 200px;
    }

    &::before {
      top: 70px;
      right: 27px;
      left: auto;

      width: 270px;
      height: 210px;
    }

    &--slim {
      &::before {
        background-size: 140px 194px;
      }
    }

    &--pro {
      &::before {
        top: 100px;

        background-size: 268px 112px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;

    margin: 0;
    padding: 77px 51px 59px 52px;

    &::after {
      left: 53px;
      top: 47px;

      width: 100px;
      height: 100px;
    }

    &--slim {
      &::before {
        top: 42px;
        left: 66px;

        width: 70px;
        height: 97px;
        background-size: 70px 97px;
      }
    }

    &--pro {
      &::before {
        top: 68px;
        left: 32px;

        width: 134px;
        height: 56px;
        background-size: 134px 56px;
      }
    }
  }
}

.catalogs__title {
  padding-bottom: 15px;
  padding-right: 20px;
  margin: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;

  &--right {
    padding-right: 0;
  }

  @media (min-width: $tablet-width) {
    max-width: 400px;

    text-align: start;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 60px;
    padding-left: 105px;

    text-align: center;
  }
}

.catalogs__text {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 22px;

  font-family: $arial;
  font-size: 14px;
  line-height: 18px;

  border-bottom: $border-count;

  @media (min-width: $tablet-width) {
    max-width: 420px;
    padding-bottom: 52px;

    font-size: 16px;
    line-height: 24px;
    border: none;

    &--pro {
      max-width: 342px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 500px;
    padding-bottom: 6px;
  }
}

.catalogs__link {
  position: relative;

  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 100px;

  text-transform: uppercase;
  line-height: 16px;
  color: $basic-black;

  &::after {
    content: url("../img/big-arrow.svg");
    position: absolute;

    right: 43px;

    transition: transform 300ms;
  }

  &::before {
    content: "";
    position: absolute;
    right: 67px;

    width: 8px;
    height: 100%;

    background-color: $light-white;
    z-index: 10;
  }

  &:hover,
  &:focus {
    &::after {
      transform: translateX(8px);
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
