.catalog-main {
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.catalog-main__title {
  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
