.example {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    background: linear-gradient($basic-white 50%, $basic-grey 50%);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    background: linear-gradient($basic-white 30%, $light-white 8%);
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.example__title {
  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.example__text {
  @media (min-width: $tablet-width) {
    max-width: 708px;
    padding-right: 10px;
    padding-bottom: 10px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 450px;
    padding-top: 70px;
    padding-right: 15px;
  }
}
