.example {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    background: linear-gradient($basic-white 50%, $basic-grey 50%);
  }

  @media (min-width: $desktop-width) {
    display: flex;

    background: linear-gradient($basic-white 8%, $basic-grey 8%);
  }
}
