.form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__option {
  display: flex;

  color: $dark-grey2;

  @media (min-width: $tablet-width) {
    width: 275px;
  }
}

.button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form__button {
  width: 280px;

  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 52px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__note {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.form__group--bord {
  border-top: $border-grey;
  border-bottom: $border-grey;

  @media (min-width: $tablet-width) {
    border: $border-grey;
  }
}

.form__group--contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__sublist {
  padding: 0 20px;
}

.form__sublist--about {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
