.form {
  text-transform: uppercase;
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__group {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  border: none;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form__group--desktop {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__title {
  padding-right: 5px;
  padding-bottom: 35px;

  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__option {
  display: flex;
  margin-bottom: 25px;

  color: $dark-grey2;

  &--top {
    padding-top: 18px;
  }
}

.button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 24px;
  }
}

.form__button {
  width: 280px;

  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-right: 60px;

    width: 285px;
    height: 52px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__note {
  padding-right: 3px;
  padding-left: 3px;

  text-transform: none;
  text-align: center;
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.form__group--bord {
  border-top: $border-grey;
  border-bottom: $border-grey;

  @media (min-width: $tablet-width) {
    border: $border-grey;
  }
}

.form__group--contacts {
  margin-top: 25px;

  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__sublist {
  padding: 0 25px;
}

.form__sublist--about {
  @media (min-width: $tablet-width) {
    padding: 0;

    display: grid;

    grid-template-columns: 50% 50%;
    grid-column-gap: 29px;
    grid-row-gap: 17px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__point {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;

  &--desktop {
    @media (min-width: $desktop-width) {
      width: 570px;
    }
  }
}

.form__field {
  position: relative;
  flex-grow: 1;
  padding: 11px;

  text-transform: uppercase;
  border: $border-form;

  &:hover {
    border: $border-count;
  }

  &:focus,
  &:active {
    border: $border-form-focus;
  }
}

.form__label {
  padding-right: 15px;
}

.form__radio-checkbox,
.form__type-checkbox {
  position: relative;

  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 58px;
  }
}

.form__radio-checkbox {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;

    width: 30px;
    height: 30px;

    border: $border-count;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 0;

      width: 40px;
      height: 40px;
    }
  }
}

.form__radio:hover + .form__radio-checkbox::before {
  border: $checkbox-hover;
}

.form__radio:focus + .form__radio-checkbox::before {
  box-shadow: $shadow-checkbox;
}

.form__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 9px;

  width: 12px;
  height: 12px;

  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 11px;
    left: 11px;

    width: 18px;
    height: 18px;
  }
}

.form__radio:disabled + .form__radio-checkbox {
  opacity: 0.3;
}

.form__icon {
  position: absolute;
  right: 15px;
}

.right {
  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.form__textarea {
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 12px;
  padding-bottom: 5px;

  min-height: 150px;
  width: 100%;

  text-transform: uppercase;
  border: $border-form;
}

.form__type-checkbox {
  &::before {
    content: "";
    position: absolute;
    left: -1px;
    top: -5px;

    width: 30px;
    height: 30px;

    border: $border-count;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.form__checkbox:checked + .form__type-checkbox::before {
  content: "";

  background-image: url("../img/tick.svg");

  background-repeat: no-repeat;
  background-size: 21px 16px;
  background-position: 4px 6px;

  @media (min-width: $tablet-width) {
    background-position: 10px 10px;
  }
}

.form__checkbox:focus + .form__type-checkbox::before {
  box-shadow: $shadow-checkbox;
}
