.logo__image {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.logo__image:hover,
.logo__image:focus {
  opacity: 0.8;
}

.logo__image:active {
  opacity: 0.6;
}

.logo__image--text {
  margin-top: 10px;
}
