.main-footer {
  min-height: 236px;
  background-color: $light-white;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    min-height: 150px;
  }
}

.main-footer__image {
  display: flex;
  margin: 0 auto;
  padding-top: 39px;
  margin-bottom: 32px;
  min-width: 128px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    margin-right: 30px;
    margin-top: 57px;
  }
}

.main-footer__image:hover,
.main-footer__image:focus {
  opacity: 0.8;
}

.main-footer__image:active {
  opacity: 0.6;
}

.main-footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-top: 15px;
  padding-bottom: 15px;

  border-top: $border-social;
  border-bottom: $border-social;

  @media (min-width: $tablet-width) {
    padding-top: 0;

    border: none;
  }
}

.main-footer__item {
  min-width: 30px;
  display: flex;
  margin: 5px 10px;
}

.main-footer__copyright {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 51px;
  }
}

.main-footer__link {
  margin: auto;

  &:hover {
    .main-footer__link-icon--fb {
      stroke: $basic-green;
    }

    .main-footer__link-icon--vk,
    .main-footer__link-icon--inst {
      fill: $basic-green;
    }
  }

  &:active {
    .main-footer__link-icon--vk,
    .main-footer__link-icon--inst,
    .main-footer__link-icon--fb {
      opacity: 0.3;
    }
  }
}

.main-footer__link-icon {
  &--vk,
  &--inst {
    fill: $basic-fill;
  }

  &--fb {
    stroke: $basic-fill;
    fill: none;

    @media (min-width: $tablet-width) {
      width: 13px;
      height: 27px;
    }

    @media (min-width: $desktop-width) {
      width: 21px;
    }
  }
}

.main-footer__link-icon--vk {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.main-footer__link-icon--inst {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}
