.main-form {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-left: 70px;
    padding-right: 66px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.main-form__title {
  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.main-form__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
