.main-head {
  color: $basic-white;

  background-image: url("../img/bg-cat.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    color: $basic-black;
  }
}

.main-head__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-head__subtitle {
  font-size: 14px;
  line-height: 14px;
}

.main-head__image {
  padding-top: 50px;
}

.main-head__button {
  font-size: 14px;
  line-height: 18px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    height: 54px;

    padding-top: 15px;
  }
}
