.main-head {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 304px;

    background-color: $green-cat;
    background-image: url("../img/header-bg-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header-bg-mobile-2x.jpg");
    }
  }

  color: $basic-white;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 780px;
    color: $basic-black;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 480px;
  }
}

.main-head__title,
.main-head__subtitle {
  @media (min-width: $tablet-width) {
    padding-left: 87px;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
  }
}

.main-head__title {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 54px;
    margin-bottom: 41px;

    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 87px;
  }
}

.main-head__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    padding-left: 88px;
    margin-bottom: 49px;

    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
}

.main-head__image {
  position: relative;

  margin-top: 39px;

  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    top: 200px;
    height: 610px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    --indents-diff: 228px;
    --indents-left: 552px;

    top: -90px;
    left: calc((100% - var(--indents-left) + var(--indents-diff)) / 2);
    height: auto;
  }
}

.main-head__button {
  font-size: 14px;
  line-height: 18px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    height: 54px;

    margin-left: 82px;
    padding-top: 15px;
  }
}
