.main-nav {
  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-top: 16px;
  }
}

.main-nav__list {
  min-height: 198px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}

.main-nav__item {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 -20px;

  text-align: center;
  border-bottom: 1px solid $border-light;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__link {
  position: relative;
  color: $basic-black;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;

    font-weight: 400;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }

    &--active {
      padding-bottom: 8px;
    }

    &--active::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 2px;
      background-color: $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--index {
      color: $basic-white;
    }

    &--index::after {
      background-color: $basic-white;
    }
  }
}
