.page-body {
  @media (min-width: $desktop-width) {
    &::before {
      content: "";

      position: absolute;
      z-index: -10;
      top: 0;
      right: 0;

      width: 50%;
      height: 694px;

      background-color: $bg-cat;
      background-image: url("../img/header-bg-desktop.jpg");
      background-repeat: no-repeat;
      background-size: auto 694px;
      background-position-x: right;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/header-bg-desktop-2x.jpg");
      }
    }
  }
}
