.page-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 37px;
    justify-content: space-between;
    height: 180px;
  }
}

.page-header__logo {
  display: flex;
  min-width: 210px;
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    width: 174px;
    border: none;
  }
}

.logo__image {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.logo__image--text {
  margin-top: 10px;
}

.page-header__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
