.promotion {
  width: 280px;
  min-height: 289px;
  padding-top: 65px;

  font-size: 16px;
  line-height: 20px;
  color: $basic-white;

  background-color: $basic-green;
  background-image: url("/img/bonus.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("/img/bonus-x2.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    min-height: 200px;

    background-image: url("/img/bonus-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/bonus-tablet-x2.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    flex-direction: column;

    background-image: url("/img/bonus-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/bonus-desktop-x2.jpg");
    }
  }
}

.promotion__image {
  display: block;
  margin: 0 auto 48px;
}

.promotion__text {
  font-family: $arial;

  width: 169px;
  text-align: center;
  margin: 0 auto;
}
