.result__count {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.result__text {
  font-size: 12px;
  line-height: 12px;
}

.result__title {
  font-size: 14px;
  line-height: 20px;
}

.result__cost {
  font-size: 14px;
  line-height: 20px;
}
