/* stylelint-disable */

.slider {
  --shift-time: 500ms;

  display: flex;
  flex-direction: column;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
    margin-top: 71px;
    padding-left: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding: 0;
    width: 50%;
  }
}

.slider__button {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    margin-left: -5px;

    border-bottom: $border-btn;

    &:hover,
    &:focus {
      border-bottom: $btn-hover;
    }

    &:active {
      border: none;
    }
  }
}

.slider__controls {
  position: relative;

  display: inline-flex;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin-left: 45px;
  }
}

.slider__list {
  --slider-width: 320px;
  --slide-width: 160px;
  --slide-height: 240px;

  display: flex;

  margin: 0 -20px;

  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    --slider-width: 690px;
    --slide-width: 345px;
    --slide-height: 517px;

    margin: 0 auto;
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    --slide-width: 365px;

    margin: 0 -40px;
    margin-top: -25px;
    margin-bottom: 33px;
  }
}

.slider__scale {
  --scale-width: 84px;
  --scale--margins: 18px;
  --border-sum-width: 2px;

  position: relative;

  width: var(--scale-width);
  height: 14px;

  margin: 0 var(--scale--margins);

  border: $border-count;
  border-radius: 6px;

  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    --scale-width: 428px;
    --scale--margins: 24px;

    height: 6px;
    background-color: $slider-color;

    border: none;
  }
}

.slider__toggle {
  --toggle-width: 35px;
  --left-position: 3px;
  --right-position: calc(
    var(--scale-width) - var(--left-position) - var(--toggle-width) -
      var(--border-sum-width)
  );

  --range-position: var(--left-position);

  position: absolute;
  top: 3px;

  width: var(--toggle-width);
  height: 6px;

  background-color: $basic-green;
  border-radius: 3px;

  transform: translateX(var(--range-position));
  transition: transform 500ms;

  @media (min-width: $tablet-width) {
    --toggle-width: 32px;
    --left-position: 0px;
    --range-position: calc(var(--scale-width) - var(--toggle-width));
    --range-position: calc((var(--scale-width) - var(--toggle-width)) / 2);

    top: -14px;

    width: var(--toggle-width);
    height: var(--toggle-width);

    background-color: $basic-green;
    border-radius: 50%;
    border: $border-toggle;
    box-shadow: $bs-toggle;

    cursor: pointer;

    &:hover {
      filter: $shadow-slider;
    }

    &:active {
      box-shadow: $bs-active;
    }
  }
}

.slider__item {
  width: calc(var(--slider-width) - var(--slide-width));

  transition: width var(--shift-time);

  @media (min-width: $tablet-width) {
    transition: width 500ms;
  }

  &--active {
    width: var(--slide-width);
  }
}

.slider__photo {
  width: 100%;
  height: var(--slide-height);
  object-fit: cover;
  object-position: left;

  &--right {
    object-position: right;
  }
}
