*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: $oswald;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: $basic-white;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.text {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
}

.option {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn-link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  min-height: 40px;
  text-align: center;

  text-transform: uppercase;

  background-color: $basic-green;
}

.page-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 calc(50% - 354px);

    &--form {
      padding: 0 calc(50% - 315px);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 calc(50% - 610px);
  }
}
