// colors

$basic-grey: #eaeaea;
$basic-white: #ffffff;
$light-white: #f2f2f2;
$border-light: #e6e6e6;
$basic-black: #000000;
$dark-black: #111111;
$dark-grey: #444444;
$dark-grey2: #222222;
$basic-green: #68b738;
$basic-green-hover: #5eaa2f;
$bg-count: #c4c4c4;
$border-footer: #d9d9d9;
$slider-color: #dcdcdc;
$red: #ff8282;
$opacity-btn: rgba(255, 255, 255, 0.3);
$opacity-btn-all: rgba(0, 0, 0, 0.3);

$green-cat: rgba(104, 183, 56, 0.85);

$bg-cat: #65a93c;
$active-border: 1px solid #68b738;
$border-invalid: 2px solid #ff8282;
$border-menu: 2px solid #68b738;
$border-social: 1px solid #d9d9d9;
$border-grey: 1px solid #e6e6e6;
$border-basic: 1px solid #444444;
$border-count: 1px solid #cdcdcd;
$border-form: 1px solid #e7e7e7;
$border-form-focus: 2px solid #444444;
$border-add: 2px solid #f2f2f2;
$border-btn: 1px dotted #bebebe;

$checkbox-hover: 1px solid #bababa;
$shadow-checkbox: 0 0 5px #4d90fe;
$shadow-slider: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));

// fonts

$oswald: "Oswald", "Arial", sans-serif;
$arial: "Arial", sans-serif;

// viewport

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
$cart-width: 245px;

$pp-indent: 40px;
